anndata 
docutils 
jinja2 
leidenalg 
matplotlib 
numpy 
pandas 
pytest 
python-igraph 
scanpy 
scikit-misc 
scipy
scvi-tools 
seaborn 
sparse 
sphinx 
sphinx_rtd_theme 
sphinx-autodoc-typehints 
statsmodels 
toolz 
gseapy
pegasuspy
louvain
scib
scib.metrics